@media(max-width: 1300px) {

  .container {
    width: 95%;
  }

}

@media(max-width: 1023px) {

  .flex-box .box {
    width: 100%;
  }

  .main .article .img_contents .img_wrap {
    height: 300px;
  }

  .footer .new-post .img_contents {
    width: 100%;
  }

  .footer .new-post .img_contents .img_wrap {
    height: 300px;
  }

  .footer .flex-box .box {
    margin-bottom: 50px;
  }

  .footer .category-list .list li {
    padding-right: 40px;
    line-height: 1;
  }

  .footer .category-list .list li::before {
    left: 2%;
  }

}

@media(max-width: 900px) {

  .pc {
    display: none;
  }

  .sp {
    display: block;
  }

  #g-nav_sp {
    display: none;
  }

  #g-nav_sp.is-active {
    display: block;
  }

  .header .header-top {
    padding: 1rem;
  }

  .header .g-nav {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
  }

  .header .g-nav .container nav {
    margin-top: 20%;
    padding: 0;
  }

  .header .g-nav .container nav li {
    display: block;
    margin-bottom: 20px;
    text-align: center;
  }

  .header .g-nav .container nav li:first-child {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
  }

  .header .g-nav .container .search-box {
    position: static;
    transform: none;
    width: 300px;
    margin: auto;
  }

  .header .g-nav .container .search-box .input-field {
    width: 250px;
  }

}

@media(max-width: 500px) {

  .header .header-top .search_contents {
    display: none;
  }

  .header .header-top .title_contents {
    position: static;
    transform: none;
  }

  .header .header-top .title_contents .icon_wrap .h1-title {
    font-size: 1rem;
  }

  .header .header-top .title_contents .icon_wrap .sub-txt {
    vertical-align: middle;
  }

  .hamburger-btn {
    top: 10px;
    right: 30px;
  }

  .main {
    padding: 1rem 0 5rem;
  }

  .main .mv {
    margin-bottom: 2rem;
  }

  .main .mv .img_wrap {
    height: 200px;
  }

  .main .article .img_contents .img_wrap {
    height: 150px;
  }

  .footer .new-post .img_contents .img_wrap {
    height: 150px;
  }

  .footer .new-post .txt_contents {
    width: 100%;
  }

}